.content {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 72px 1fr auto;
    position: fixed;
}


.cell {
    background-color: #46ace7;
    width: 70px;
    height: 70px;
}

.btn {
	border: none;
	padding: 0;
    position: relative;
	cursor: pointer;
    width: 70px;
    height: 70px;
    font-size: 30px;
    color: white;

}

.btn-add {
    background-color: #f3a700;
}

.btn-add:target {
    border: 1px solid #46ace7;
}


.btn-add-column {
    grid-column: 3/4;
    grid-row: 2/3;
    margin: 3px 0 0 2px;
       
}

.btn-add-row {
    grid-column: 2/3;
    grid-row: 3/4;
    margin:2px 0 0 3px;
}

.btn-remove {
    position: relative;
    visibility: hidden;
    background-color: #b40000;
}

.btn-remove-row {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 3px 0 0 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-remove-column {
    grid-column: 2/3;
    grid-row: 1/2;
    margin:0 0 0 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

#table {
    grid-column: 2/3;
    grid-row:   2/3;
    border: 1px solid #46ace7;
}

#table:hover ~ .btn-remove-row, #table:hover ~ .btn-remove-column {
    visibility: visible;


}

.btn-remove-row:hover, .btn-remove-column:hover {
    visibility: visible;
    background-color: #cb4b47;
}

.btn-remove-row:hover ~ .btn-remove-column {
    visibility: visible;
}

.btn-remove-row-hover {
    visibility: visible;
}

/*#f6c151*/